<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <%= link_to "One Month Rails", root_path, class: "brand" %>
      </a>
    </div>
    <button type="button" class="btn btn-default navbar-btn"><%= link_to "Home", root_path %></button>
    <button type="button" class="btn btn-default navbar-btn"><%= link_to "About", about_path %></button>
    <% if user_signed_in? %>
      <button type="button" class="btn btn-default navbar-btn pull-right" ><%= link_to "Logout", destroy_user_session_path, method: :delete %></button>
      <button type="button" class="btn btn-default navbar-btn pull-right" ><%= link_to "Edit Profile", edit_user_registration_path %></button>
    <% else %>    
      <button type="button" class="btn btn-default navbar-btn pull-right" ><%= link_to "Login", new_user_session_path %></button>
    <% end %>
  </div>
</nav>